html > body {
	width:  100%;
	height: 100%;
	margin: 0px;
	font-family: Tahoma, Geneva, sans-serif;
	font-size:0.9em;
	text-align: center;
	display: inline;
}
footer {
	 position: fixed;
	 bottom: 0px;
	 width: 100%;
}
#clock {
	height: 600px;
}
[v-cloak] .v-cloak--block {
	display: block;
}
[v-cloak] .v-cloak--inline {
	display: inline;
}
[v-cloak] .v-cloak--inlineBlock {
	display: inline-block;
}
[v-cloak] .v-cloak--hidden {
	display: none;
}
[v-cloak] .v-cloak--invisible {
	visibility: hidden;
}
.v-cloak--block,
.v-cloak--inline,
.v-cloak--inlineBlock {
	display: none;
}

.demo-ribbon {
  width: 100%;
  height: 40vh;
  background-color: #3F51B5;
  flex-shrink: 0;
}

.demo-main {
  margin-top: -35vh;
  flex-shrink: 0;
}

.demo-header .mdl-layout__header-row {
  padding-left: 40px;
}

.demo-container {
  max-width: 1600px;
  width: calc(100% - 16px);
  margin: 0 auto;
}

.demo-content {
  border-radius: 2px;
  padding: 80px 56px;
  margin-bottom: 80px;
}

.demo-layout.is-small-screen .demo-content {
  padding: 40px 28px;
}

.demo-content h3 {
  margin-top: 48px;
}

.demo-footer {
  padding-left: 40px;
}

.demo-footer .mdl-mini-footer--link-list a {
  font-size: 13px;
}