.footer {
    padding: 24px;
    display: flex;
    justify-content: space-between;
    background-color: lightsteelblue;

    :nth-child(n) {
        margin-right: 4px;
    }

    :last-child {
        justify-self: flex-end;
    }

    a:link,
    a:visited {
        color: steelblue;
        text-decoration: none;
        font-size: 12px;
    }
}
